#mathilde-accueil{
        width: 100%;
        max-width: 400px;
        border-radius: 100%;
        border: 15px solid var(--yellow);
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5em;
        margin-bottom: 5em;
    }
#text-pres{
    width:75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
    border: 15px solid var(--pink);
    padding: 2em;
    color: var(--pink);
}
#text-pres h2{
    text-align: center;
    font-size: 40px;
}
#insta-pres hr {
    width: 90%;
    height: 10px;
    background-color: var(--green);
}
#insta-pres h2 {
    color: var(--green);
    font-size: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    text-align: center;
}