nav{
    background-color: var(--yellow);
    margin: 0;
    padding: 2em;
}
nav h1{
    text-align: center;
    color: var(--pink);
    font-size: 50px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 2em;
    display: flex;
    justify-content: center;

}

nav li {
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #000;
}