body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --white: #f8edeb;
  --pink: #ff70a6;
  --green: #adc178;
  --yellow: #fff3b0;
  --orange: #ffd670;
}

body {
  background-color: var(--mwhite);
}

